
h1{
    font-family: "Libre Baskerville", serif;
}

body{
    background-color: black;
}

div {
    color: white;
    text-align: center;
    margin-left: 25%;
    width: 50%;
    margin-top: 100px;
}

h1 {
    text-transform: uppercase;
}

.poster {
    border: 5px solid white;
    width: 100%;
}